/01_hellow world.py
/03_prog 3_module_sage.py
/AccountPictures
/CAFADEBUG.log
/Desktop
/desktop.ini
/Documents
/Downloads
/Libraries
/Music
/Pictures
/prog 2 pr_1 sol_twinkle.py
/prog_03_probl_03_module_usage.py
/Videos